<table class="table--answers">
  <thead class="thead">
    <tr class="row">
      <th class='row__th--wide'><a class="row__th__import" (click)="openModal($event)" >Export</a>
      </th>
    </tr>
    <tr class="row">
      <th class='row__th'>Player </th>
      <th class='row__th'>Targets</th>
      <th class='row__th'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class='row'*ngFor='let order of offsAssignedArr; let index=index;'>
      <td class='row__td'>{{order.player}}</td>
      <td class='row__td'> <textarea #text id='txt-{{index}}' class="answer-textarea" value='{{targetsToReducedStr(order)}}' ></textarea></td>
      <td class="row__td">
        <fa-icon [icon]='faCheckCircle' [ngStyle]="{'color': order.checked ? 'green': 'black'}" (click)="checkAnswer( index)"></fa-icon>
        <fa-icon [icon]='faTrashAlt' (click)="deleteAnswer(index)"></fa-icon>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="row">
      <th class='row__th'><span >{{offsAssignedArr?.length}}</span></th>
      <th class='row__th'><span>{{targetsAssigned}}</span></th>
      <th class='row__th'></th>
    </tr>
  </tfoot>
</table>
