<header>
  <nav role="navigation">
      <div class="menuToggle">
        <div [class.hamburgerToggle]= "isNavVisible" class="hamburger" (click)="toggleNav()">
            <span class="partial-ham hamburger1" [class.hamburgerToggle1]= "isNavVisible"></span>
            <span class="partial-ham hamburger2" [class.hamburgerToggle2]= "isNavVisible"></span>
            <span class="partial-ham hamburger3" [class.hamburgerToggle3]= "isNavVisible"></span>
        </div>
        <ul [class.transformToggle]= "isNavVisible" class="menu">
          <li routerLinkActive='active' routerLink= "/" [routerLinkActiveOptions]="{ exact: true }">Nobles in range</li>
          <li routerLinkActive='active' routerLink= "/tribal-assign-orders">Assign orders</li>
          <li routerLinkActive='active' routerLink= "/best-attack-plan">Best attack plan</li>
          <!-- <li routerLink= "/">Kalkulator</li> -->
        <img class="emblem" src= "../../assets/394633_large.png">
        </ul>
      </div>
    </nav>
</header>
