@import "../../styles.scss";
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table, mat-form-field {
  width: 40%;
}

th.mat-sort-header-sorted {
  color: black;
}
tr.mat-footer-row {
  font-weight: bold;
}
