@import "../../../styles.scss";

.flex-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  background: $white;
  padding: 1%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  margin: 3% auto;
  border-radius: 5px;
  width: 40%;
  flex-direction: column;
  transition: all 0.3s ease;
}
.header {
  flex-grow: 0;
  position: relative;

  .close {
    position: absolute;
    top: -13px;
    right: 0px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(163, 57, 66);
    cursor: pointer;
  }
}
.content {
  flex-grow: 1;
  resize: none;
  margin: 1% 0;
}

.import {
  border: unset;
  flex-grow: 0;
  text-align: center;
  width: 40%;
  background: $lightgrey;
  padding: 0.5em 2em;
  color: $white;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
  margin: 2% 0;
  transition: 0.3s ease color;
  &:hover {
    color: $gold-white;
  }
}
