$darkGrey : #222;
$lightGrey : #888;
$blue : #4291a5f6;
*, *:before, *:after {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  min-height: 100vh;
  font-family: 'Montserrat';
  background: rgb(230, 240, 236);
}

html, body { height: 100%; };
