@import "../../styles.scss";

:host {
  display: flex;
}


@mixin tableColumn {
  width: 50%;
  padding: 0.3em 0;
  text-align: center;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row__th {
  width: 50%;
  padding: 0.3em 0;
  text-align: center;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  background-color: $lightgrey;
  color: $white;
  height: 35px;
}

.btn-generate {
  text-transform: uppercase;
  align-self: center;
  margin: 10px;
  background: $lightgrey;
  width: 75px;
  color: $white;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  word-break: break-all;
  padding: 15px;
  cursor: pointer;
  transition: color .4s ease;
  z-index: 0;
  &:hover {
      color: $gold-white;
  }
}
app-input-table {
  z-index: 1;
}

