
<div class="main-container">
  <textarea class="players-vilages-input" #playersVilagesInput (keyup)='setAllies(playersVilagesInput.value)'
    placeholder="player1 &#10;111|222 &#10;222|333 &#10;player2 &#10;333|444 &#10;..."></textarea>
  <div class="big-wrapper">
    <div class="target-bar">
      <div class="target-wrapper">
        <input class="target-input" #targetInput placeholder="xxx|yyy" type="text"
        (keyup)='setTarget(targetInput.value)'>
        <label class="target-label">TARGET</label>
      </div>
    </div>
    <div class="answer-wrapper">
      <table *ngIf="answerTable.length"  class="answer-table">
        <thead>
          <th>Nick</th>
          <th>Villages in range</th>
          <th>All</th>
        </thead>
        <tbody>
          <tr *ngFor="let answer of answerTable">
            <td>{{answer.player}}</td>
            <td>{{answer.inRangeCounter}}</td>
            <td>{{answer.allCounter}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
