<div class="inputs-container">
  <form class="form" [formGroup]='coordsForm' (ngSubmit)="findBestAttackPlan()">
    <fieldset class="sleep-container">
      <h3>Sleep time</h3>
      <mat-form-field class="sleepInput first">
        <mat-label>From</mat-label>
        <input matInput type="number" formControlName="sleepFrom" min=0 max=24>
      </mat-form-field>
      <mat-form-field class="sleepInput">
        <mat-label>To</mat-label>
        <input matInput type="number" formControlName="sleepTo" min=0 max=24>
      </mat-form-field>
    </fieldset>
    <mat-form-field class="datetime-local">
      <mat-label>Attack time</mat-label>
      <input matInput type="datetime-local" formControlName="destinationTime">
    </mat-form-field>

    <mat-form-field class="armySpeed-container">
      <mat-label>Army speed</mat-label>
      <mat-select formControlName="unit" class="unitSelect">
        <mat-option *ngFor="let unit of units | keyvalue:keepOriginalOrder" [value]="unit.value">
          {{unit.key}}</mat-option>
      </mat-select>
    </mat-form-field>

      <h3>Senders<span *ngIf='coordsForm.value.sources'>:
          {{utilityService.coordsFromString(coordsForm.get('sources').value).length}}</span>
      </h3>
      <textarea formControlName="sources" class='coordInput' id='offs'></textarea>
      <h3>Targets<span *ngIf='coordsForm.value.targets'>:
          {{utilityService.coordsFromString(coordsForm.get('targets').value).length}}</span>
      </h3>
      <textarea formControlName="targets" class='coordInput' id='targets'></textarea>
      <div class="error-hint" *ngIf="!senderEqualTargets && coordsForm.dirty">
        The total amount of targets must equal senders.
      </div>
    <button class="bestAttackPlan-btn bold" type="submit" [disabled]="coordsForm.invalid" id="inputs-btn">Find Best
      Attack Plan</button>

  </form>
</div>
<div class="answer" id='answer'>
  <ul>
    <li class="bold" [ngClass]="{'sleepTime': answer.sleepTime, 'normalTime': !answer.sleepTime}"
      *ngFor="let answer of orderArr; let i = index">
      {{i+1}}. {{answer.timeAttack | date: 'medium'}} Source: {{answer.from}} Target: {{answer.to}} <span
        *ngIf='answer.sleepTime'>Sleep Time</span> </li>
  </ul>
</div>
<div #spinner class="loading-spinner">
  <p>LOADING</p>
</div>
