@import "../../styles.scss";
$blueBorder: rgb(169, 184, 212);
main {
  display: flex;
  max-height: 100vh;
  color: $darkGrey;
}
.inputs-container {
  padding: 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 345px;
  * {
    color: $darkBlue;
  }
}
.datetime-local {
  width: 260px;
  .time-form {
    width: 100%;
    display: flex;
  }
}
.sleep-container {
  padding-left: 5px;
  margin-bottom: 15px;
  border: 1px solid $blueBorder;
}
.sleepInput {
  width: 125px;
  input::placeholder {
    font-size: 12px;
  }
  &.first {
    margin-right: 8px;
  }
}
.armySpeed-container {
  width: 260px;
}
.coords-form {
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: column;
  align-items: center;
  & label {
    font-size: 1.3rem;
  }
}
.coordInput {
  height: 100%;
  width: 100%;
  resize: none;
  border-color: $blueBorder;
  &::placeholder {
    font-size: 1rem;
  }
}
.answer {
  flex: 1;
  margin: 5px;
  overflow: auto;
}
.sleepTime {
  color: rgb(156, 21, 21);
}
.bestAttackPlan-btn {
  margin: 0 10px;
}
.normalTime {
  color: rgb(26, 150, 47);
}
.bold {
  font-weight: 600;
}
